---
import { Image } from "astro:assets";
import font from "../assets/images/font.png";
---

<div class="grid justify-items-center bg-grøn">
  <Image src={font} alt="billede af min font" class="h-16 w-96 my-14" />
</div>
